#root {
    justify-content: center;
    align-items: center;
}
.finance {  
    display: flex;
    flex-direction: row;  
}

.innerIncome {
    display: flex;
    flex-direction: row;
    margin-right: 200px;
    margin-top: 20px;
    border-style: solid;
}

.innerExpense {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    border-style: solid;
}

.incb {
    background-color: green;
}

.expb {
    background-color: red;
}

.topbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    position: relative;
  }
  
  .HPImage {
    position: absolute;
    right: 0;
    top: 0;
  }

  .list {
    border-style: solid;
    border-color: blue;
    width: 500px;
    height: 500px;
  }