#root {
    justify-content: center;
    align-items: center;
}
.finance {  
    display: flex;
    flex-direction: row;  
}

.innerIncome {
    display: flex;
    flex-direction: row;
    margin-right: 200px;
    margin-top: 20px;
    border-style: solid;
}

.innerExpense {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    border-style: solid;
}

.incb {
    background-color: green;
}

.expb {
    background-color: red;
}